.header {
  background-color: white;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  padding-left: calc(100vw / 2 - 400px);
  padding-right: calc(100vw / 2 - 400px);
}

.title {
  margin-left: 8px;
}
